

html {
    background-color: rgb(0, 0, 0);
}

.main-nav__item {
    display: inline-flex;
    justify-content: end;
    vertical-align: middle;
    padding-left: 50px;
    padding-right: 50px;
}

.main-nav__item a:hover {
    border-color: white;
    border: 2px;
    color: rgb(255, 217, 0);
}

nav {
    background-color: black;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.main-nav__item a {
    text-decoration: none;
    color: white;
    font-size: 40px;
}
