.navigation-bar-container {
    display: flex;
    justify-content: right;
}

.navigation-bar-container li {
    margin: 10px;
    text-decoration: none;
    list-style: none;
}

li:hover::after {
    color: red;
    content: "🥳";
}