* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* Used to reset the styling and be able to edit it without the browser styles */
}

html {
    font-size: 62.5%; 
    /* Used to have an scale with REM, 1rem=10px */
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.c1, .c2, .c3, .c4, .c5 {
    width: 100%;
    min-width: 15rem;
    height: 15rem;
    border-radius: 1rem;
}

.c3 {
    margin-top: 5%;
}

.c4 {
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
}

.c1, .c5 {
    margin: 5%;
}

.c1, .c2, .c3, .c5 {
border: #153462 solid;
}

.c1 {
    background-color: #153462;
}

.c2 {
    background-color: #F6F6C9;
}

.c3 {
    background-color: #BAD1C2;
}

.c5 {
    background-color: #4FA095;
}