:root {
    --off-white: #F2F2F2;
    --gray: #777777;
    --blue: #005691;
    --dark-bluer: #004A7C;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

.main-container-card {
    width: 50%;
    height: auto;
    background-color: var(--off-white);
    margin: 100px auto;
    display: flex;
    border-radius: 8px;
}

.container-card {
    width: 90%;
    background-color: white;
    height: auto;
    margin: 40px auto;
    border-radius: 8px;
    position: relative;
}

.container-card--top {
    width: 100%;
    height: 300px;
    box-shadow: -2px 34px 21px -7px rgba(119,119,119,0.66);
}

.container-card--top-image {
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0 0;
}

.profile-container-image {
    width: 40%;
    height: 200px;
}

.profile-container img {
    position: absolute;
    right: 0;
    top: 200px;
    border-radius: 80px 0 0 80px;
    box-shadow: -2px 34px 21px -7px rgba(119,119,119,0.66);
}

.information-container {
    box-sizing: border-box;
    width: 90%;
    height: auto;
    margin: 50px 0 0 30px;
}

.information-container h1 {
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--blue);
    line-height: 5rem;
}

.information-container h2 {
    font-size: 1.7rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--gray);
    text-decoration-line: underline;
}

.information-container--personal {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 30px auto;
    align-items: center;
}

.information-container--personal p {
    width: 50%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-self: center;
    position: relative;
}

.location img, .phone img {
    width: 25px;
    height: 25px;
    position: absolute;
    left: calc(50% - 90px);
    top: -2px
}


.container-social {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--blue);
    border-radius: 50px;
    box-shadow: 6px 22px 24px -14px rgba(119,119,119,1);
}

.container-social p {
    width: 50%;
    text-align: center;
    color: var(--off-white);
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container-social p:nth-child(2) {
    border-left: 5px solid var(--off-white);
}

.buttons-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
}

.buttons-container button {
    width: 45%;
    height: 60px;
    background-color: var(--off-white);
    box-shadow: 6px 22px 24px -14px rgba(119,119,119,1);
    border: 2px solid var(--dark-bluer);
    border-radius: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.5rem;
    color: var(--blue);
}

#id h1::first-letter {

}

p .sidemenu div:hover {
    
}